@media (min-width:800px) {
    /***********************************************
    $ Mobile Banner
    ***********************************************/
    .mobileBanner {
        display: none;
    }
    /***********************************************
    $ Navbar
    ***********************************************/
    .navbar {
        left: 0;
        top: 0;
        position: fixed;
        background: #D6472C;
        height: 70px;
    }
    .navbar-mobile-hidden {
        display: none;
    }
    .navbar li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar__link a,
    .navbar__link a:visited,
    .navbar__homelogo a {
        text-decoration: none;
        color: white;
    }
    .navbar__link {
        margin: 20px;
        font-size: 14px;
    }
    .navbar__icon {
        display: none;
    }
    .navbar__homelogo {
        font-size: 18px;
        font-weight: 100;
        display: inline;
        margin: 15px;
        margin-right: auto;
    }
    /***********************************************
    $ Landing Page
    ***********************************************/
    .landing__image {
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .landing__container {
        width: 40vw;
        top: 0;
        left: 0;
        position: absolute;
    }
    .landing__header,
    .landing__tagline,
    .landing__input::placeholder,
    .landing__input--error::placeholder,
    .landing__form__togglelink {
        color: black;
    }
    .landing__tagline {
        margin-bottom: 1em;
    }
    .landing__input,
    .landing__input--error {
        border-bottom: 0.03em solid rgba(0, 0, 0, 0.99);
        color: black;
    }
    .landing__input--errortext {
        color: #D6472C;
    }
    .landing__form__btn {
        background-color: #D6472C;
        border: none;
        color: white;
    }
    /***********************************************
    $ No recipes
    ***********************************************/
    .noRecipes__img {
        margin-top: 70px;
        width: 80vw;
        height: 80vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .noRecipes__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .noRecipes__btn {
        width: 240px;
        border: 1px solid rgb(208, 62, 33);
        background: rgba(214, 71, 44, 0.95);
        margin-top: 15px;
    }
    .noRecipes__message {
        font-size: 18px;
    }
    /***********************************************
    $ Recipe List
    ***********************************************/
    .recipeList__title {
      display: block;
      color: black;
      margin-top: 100px;
      margin-bottom: 50px;
    }


    .recipeList__allrecipes {
        margin-bottom: 0;
    }
    .recipeList__link {
        width: 300px;
        margin: 10px;
    }

    .recipeList__link--container {
      margin-bottom: 0;
    }

    .recipeList__hidden-2x2 {
      display: none;
    }

    /***********************************************
    $ Add recipe
    ***********************************************/
    .addrecipe__image {
        display: block;
        height: 100%;
        width: 60%;
        top: 0;
        right: 0;
        position: fixed;
    }

    .addrecipe__container {
        width: 40%;
        top: 0;
        left: 0;
        position: absolute;
        margin-top: 80px;
    }

    .addrecipe__navbar {
        background-color: rgb(249, 249, 249);
        /* border-bottom: 1px solid rgb(214, 71, 44); */
        width: 40%;
    }
    .addrecipe__navbar a,
    .addrecipe__navbar a:visited,
    .addrecipe__navbar a {
        color: #333;
    }

    .addrecipe__innermargin {
        margin-left: 60px;
        margin-right: 60px;
    }

    .addrecipe__partnersite--text {
        margin-bottom: 30px;
    }

    /***********************************************
    $ New Recipes
    ***********************************************/

    .newrecipe__form {
        width: 100%;
    }

    .newrecipe__form__btn {
        width: 100%;
    }

    /***********************************************
    $ Url form
    ***********************************************/

    .urlform {
        justify-content: space-between;
    }

    .urlform__modal {
        padding: 0;
        justify-content: center;
    }

    .urlform__input {
        width: 85%;
    }

    .urlform__modal__imagecontainer {
        justify-content: space-between;
        height: auto;
    }

    .urlform__btn i {
        margin-right: 0;
    }

    /***********************************************
    $ Error pages
    ***********************************************/
    .errorpage__container {
        width: 40vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .errorpage__image {
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .errorpage__message {
        color: black;
        width: 30vw;
    }
    .errorpage__message--large {
        color: black;
    }
    /***********************************************
      $ Single Recipe
    ***********************************************/
    .singleRecipe__img {
        height: 100vh;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
    }
    .singleRecipe__backarrow {
        display: block;
        color: black;
        font-size: 28px;
    }
    .singleRecipe__textcontainer--outer {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        margin: 0;
    }
    .singleRecipe__textcontainer--inner {
        margin: 30px;
    }
    .singleRecipe__deleteButton {
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    .singleRecipe__deleteButton:hover {
        color: white;
        background: rgba(214, 71, 44, 0.95);
    }

}

@media (min-width:979px) {
  .recipeList__hidden-2x2 {
    display: block;
  }
}
