@media (min-width:800px) {

    /***********************************************
    $ Mobile Banner
    ***********************************************/
    .mobileBanner {
      display: none;
    }

    /***********************************************
    $ Navbar
    ***********************************************/
    .navbar {
      left: 0;
      top: 0;
      position: fixed;
      background: #D6472C;
      height: 70px;
    }

    .navbar li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar__link a, .navbar__link a:visited, .navbar__homelogo a {
      text-decoration: none;
      color: white;
    }

    .navbar__link {
      margin: 20px;
      font-size: 14px;
    }

    .navbar__icon {
      display: none;
    }

    .navbar__homelogo {
      font-size: 18px;
      font-weight: 100;
      display: inline;
      margin: 15px;
      margin-right: auto;
    }


    /***********************************************
    $ Landing Page
    ***********************************************/
    .landing__image {
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .landing__container {
        width: 40vw;
        top: 0;
        left: 0;
        position: absolute;
    }
    .landing__header,
    .landing__tagline,
    .landing__input::placeholder,
    .landing__input--error::placeholder,
    .landing__form__togglelink {
        color: black;
    }
    .landing__input,
    .landing__input--error {
        border-bottom: 0.03em solid rgba(0, 0, 0, 0.99);
        color: black;
    }
    .landing__input--errortext {
        color: #D6472C;
    }
    .landing__form__btn {
        background-color: #D6472C;
        border: none;
        color: white;
    }

    /***********************************************
    $ No recipes
    ***********************************************/

    .noRecipes__img {
       margin-top: 102px;
       width: 80vw;
       height: 80vh;
       border-radius: 5px;
       display: flex;
       justify-content: center;
       flex-direction: column;

    }

    .noRecipes__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noRecipes__btn {
        width: 240px;
        border: 1px solid rgb(208, 62, 33);
        background: rgba(214, 71, 44, 0.95);
        margin-top: 15px;
    }

    /***********************************************
    $ Recipe List
    ***********************************************/

    .recipeList__title {
      display: block;
      color: black;
      margin-top: 100px;
      margin-left: 20px;
    }


    .recipeList__allrecipes {

    }

    .recipeList__link {
      width: 300px;
      margin: 10px;
    }

    /***********************************************
    $ Add recipe
    ***********************************************/
    .addrecipe__image {
        display: block;
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .addrecipe__container {
        width: 30vw;
        top: 5vw;
        left: 5vw;
        position: absolute;
    }
    /***********************************************
    $ Error pages
    ***********************************************/
    .errorpage__container {
        width: 40vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .errorpage__image {
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .errorpage__message {
        color: black;
        width: 30vw;
    }
    .errorpage__message--large {
        color: black;
    }
}
