@media (min-width:961px) {
    /***********************************************
    $ Landing Page 
    ***********************************************/
    .landing__image {
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .landing__container {
        width: 40vw;
        top: 0;
        left: 0;
        position: absolute;
    }
    .landing__header,
    .landing__tagline,
    .landing__input::placeholder,
    .landing__input--error::placeholder,
    .landing__form__togglelink {
        color: black;
    }
    .landing__input,
    .landing__input--error {
        border-bottom: 0.03em solid rgba(0, 0, 0, 0.99);
        color: black;
    }
    .landing__input--errortext {
        color: #D6472C;
    }
    .landing__form__btn {
        background-color: #D6472C;
        border: none;
        color: white;
    }
    /***********************************************
    $ Add recipe 
    ***********************************************/
    .addrecipe__image {
        display: block;
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .addrecipe__container {
        width: 30vw;
        top: 5vw;
        left: 5vw;
        position: absolute;
    }
    /***********************************************
    $ Error pages 
    ***********************************************/
    .errorpage__container {
        width: 40vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .errorpage__image {
        height: 100%;
        min-width: 60%;
        width: auto;
        z-index: -1;
        top: 0;
        left: 40%;
        position: fixed;
    }
    .errorpage__message {
        color: black;
        width: 30vw;
    }
    .errorpage__message--large {
        color: black;
    }
}