* {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}


/***********************************************
  $ Landing Page
***********************************************/

.landing__image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing__header {
    padding: 2em 0 0.5em;
    text-align: center;
    color: white;
    letter-spacing: 2.5px;
    font-size: 36px;
}

.landing__tagline {
    text-align: center;
    font-style: italic;
    color: white;
}

.landing__input {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(255, 255, 255, 0.99);
    width: 205px;
    margin: 1.2em 0;
    color: white;
    font-size: 14px;
}

.landing__input::placeholder,
.landing__input--error::placeholder {
    color: white;
    font-size: 14px;
}

.landing__input--error {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(255, 255, 255, 0.99);
    width: 205px;
    color: white;
    margin: 1.2em 0;
    font-size: 14px;

}

.landing__input--errortext {
    font-weight: bold;
    color: white;
    max-width: 205px;
    font-size: 12px;
    text-align: center;
    height: 12px;
}

.landing__form__container {
    display: flex;
    align-items: flex-end;
    height: 60vh;
}

.landing__form__btn {
    width: 205px;
    height: 49px;
    font-size: 18px;
    border-radius: 5px;
    background: rgba(225, 225, 225, 0.15);
    text-transform: uppercase;
    border: 0.03em solid rgba(224, 224, 224, 0.3);
    color: white;
    margin-top: 1em;
    letter-spacing: 1px;
}

.landing__form__togglelink {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    width: 205px;
    bottom: 3em;
    font-size: 13px;
    color: white;
    text-decoration: none;
}


/***********************************************
  $ Mobile Navbar
***********************************************/

.navbar {
    border-top: 0.03em solid rgba(0, 0, 0, 0.3);
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    font-size: 10px;
}

.navbar__icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #8A8A8F;
    margin-bottom: 3px;
}

.navbar__link a {
    text-decoration: none;
}

.navbar__link a:visited {
    color: #8A8A8F;
}

.navbar__homelogo {
    display: none;
}


/***********************************************
  $ Add recipe
***********************************************/

.addrecipe__container {
    width: 330px;
    margin: auto;
}

.addrecipe__header {
    font-size: 20px;
    margin: 2em auto 3em;
}

.urlform__modal {
    position: fixed;
    top: 100px;
    right: 18px;
    border: 0.03em solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
    padding: 0.5em;
}

.urlform__text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 100;
}

.urlform {
    display: flex;
    justify-content: space-around;
}

.urlform__input {
    outline: none;
    background: none;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    height: 49px;
    width: 260px;
    margin: 2em 0;
    color: #333;
    font-size: 14px;
    text-align: center;
}

.urlform__input::placeholder {
    color: #333;
}

.urlform__btn {
    font-size: 36px;
    margin: 0.5em;
    color: #D6472C;
}

.addrecipe__link {
    font-size: 14px;
}

.newrecipe__form {
    width: 330px;
}

.newrecipe__input,
.newrecipe__textarea {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(0, 0, 0, 0.99);
    width: 100%;
    margin: 2em 0;
    font-size: 14px;
}

.newrecipe__input::placeholder,
.newrecipe__textarea::placeholder {
    font-size: 14px;
}

.newrecipe__form__container {
    margin-bottom: 6em;
}

.newrecipe__form__btn {
    font-size: 18px;
    border-radius: 5px;
    width: 330px;
    height: 58px;
    background-color: #D6472C;
    text-transform: uppercase;
    border: none;
    color: white;
}

.addrecipe__image {
    display: none;
}

.mobileBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100vw;
    background: #D6472C;
    position: relative;
}

.mobileBanner__title {
    color: white;
    font-weight: normal;
    font-size: 13px;
}

.mobileBanner__backicon {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 14px;
    left: 15px;
}


/***********************************************
  $ Recipe List
***********************************************/

.recipeList__title {
    display: none;
}

.recipeList__allrecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 49px;
}

.recipeList__link--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 5px;
    /* box-shadow: 6px 6px 20px 0px rgb(232, 232, 232); */
}

.recipeList__link {
    width: 100%;
    text-decoration: none;
    color: white;
}

.recipeList__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipeList__recipeTitle {
    padding: 15px;
    font-size: 15px;
    color: #4F4F4F;
    background: rgba(255, 255, 255, 0.95);
}


/***********************************************
  $ Single Recipe
***********************************************/

.singleRecipe__img {
    background-position: center;
    background-size: cover;
    height: 280px;
}

.singleRecipe__container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
}

.singleRecipe__title {
    font-weight: normal;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
}

.singleRecipe__sub-title {
    color: #4F4F4F;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 24px;
}

.singleRecipe__list--ingredients {
    margin-bottom: 24px;
}

.singleRecipe__list--ingredients li {
    list-style: none;
    font-weight: 100;
    line-height: 28px;
}

.singleRecipe__list--method {
    list-style-position: inside;
}

.singleRecipe__list--method li {
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: justify;
}

.singleRecipe__deleteButton {
    color: #D6472C;
    background: white;
    display: block;
    padding: 10px;
    border: 1px solid #D6472C;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
}


/***********************************************
  $ No recipes
***********************************************/

.noRecipes__container {
    margin: 0 15px;
}

.noRecipes__img {
    width: 100%;
    height: 250px;
    /* border-radius: 5px; */
    background-size: cover;
    background-position: center;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 24px;
}

.noRecipes__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    height: 58px;
    background-color: #D6472C;
    text-transform: uppercase;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
}

.noRecipes__message {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 24px;
}


/***********************************************
$ Error pages
***********************************************/

.errorpage__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorpage__image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.errorpage__message {
    font-size: 24px;
    width: 80vw;
    color: white;
}

.errorpage__message--large {
    font-size: 60px;
    margin-bottom: 0.5em;
    color: white;
}