* {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}


/***********************************************
  $ Landing Page
***********************************************/

.landing__image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing__header {
    padding: 2em 0 0.5em;
    text-align: center;
    color: white;
    letter-spacing: 2.5px;
    font-size: 36px;
}

.landing__tagline {
    text-align: center;
    font-style: italic;
    color: white;
}

.landing__input {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(255, 255, 255, 0.99);
    width: 205px;
    margin: 2em 0;
    color: white;
    font-size: 14px;
}

.landing__input::placeholder,
.landing__input--error::placeholder {
    color: white;
    font-size: 14px;
}

.landing__input--error {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(255, 255, 255, 0.99);
    width: 205px;
    margin: 2em 0 0.25em;
    color: white;
    font-size: 14px;
}

.landing__input--errortext {
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.landing__form__container {
    display: flex;
    align-items: flex-end;
    height: 60vh;
}

.landing__form__btn {
    width: 205px;
    height: 49px;
    font-size: 18px;
    border-radius: 5px;
    background: rgba(225, 225, 225, 0.15);
    text-transform: uppercase;
    border: 0.03em solid rgba(224, 224, 224, 0.3);
    color: white;
    margin-top: 1em;
    letter-spacing: 1px;
}

.landing__form__togglelink {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    width: 205px;
    bottom: 3em;
    font-size: 13px;
    color: white;
    text-decoration: none;
}


/***********************************************
  $ Mobile Navbar
***********************************************/

.navbar {
    border-top: 0.03em solid rgba(0, 0, 0, 0.3);
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    font-size: 10px;
}

.navbar__icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #8A8A8F;
    margin-bottom: 3px;
}

.navbar__link {
    text-decoration: none;
}


/***********************************************
  $ Add recipe
***********************************************/

.addrecipe__container {
    width: 330px;
    margin: auto;
}

.addrecipe__header {
    font-size: 20px;
    margin: 2em auto 3em;
}

.urlform__modal {
    position: fixed;
    top: 100px;
    right: 18px;
    border: 0.03em solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
    padding: 0.5em;
}

.urlform__text {
    font-size: 16px;
}

.urlform {
    display: flex;
    justify-content: space-around;
}

.urlform__input {
    outline: none;
    background: none;
    border: 0.03em solid rgba(0, 0, 0, 0.99);
    border-radius: 5px;
    height: 49px;
    width: 260px;
    margin: 2em 0;
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.urlform__btn {
    font-size: 24px;
    margin: 0.5em;
    color: #D6472C;
}

.addrecipe__link {
    font-size: 14px;
}

.newrecipe__form {
    width: 330px;
}

.newrecipe__input,
.newrecipe__textarea {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(0, 0, 0, 0.99);
    width: 100%;
    margin: 2em 0;
    font-size: 14px;
}

.newrecipe__input::placeholder,
.newrecipe__textarea::placeholder {
    font-size: 14px;
}

.newrecipe__form__container {
    margin-bottom: 6em;
}

.newrecipe__form__btn {
    font-size: 18px;
    border-radius: 5px;
    width: 330px;
    height: 58px;
    background-color: #D6472C;
    text-transform: uppercase;
    border: none;
    color: white;
}

.addrecipe__image {
    display: none;
}

.mobileBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100vw;
    background: #D6472C;
    position: relative;
    margin-bottom: 15px;
}

.mobileBanner__title {
    color: white;
    font-weight: normal;
    font-size: 13px;
}

.mobileBanner__backicon {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 14px;
    left: 15px;
}

/***********************************************
  $ Recipe List
***********************************************/

.recipeList__allrecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 49px;
}

.recipeList__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 5px;
    /* box-shadow: 6px 6px 20px 0px rgb(232, 232, 232); */
}

.recipeList__link {
    width: 100%;
    text-decoration: none;
    color: white;
}

.recipeList__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipeList__recipeTitle {
    padding: 15px;
    font-size: 15px;
    color: #4F4F4F;
    background: rgba(255, 255, 255, 0.95);
}
