* {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}


/***********************************************
  $ Landing Page
***********************************************/

.landing {
    background-image: linear-gradient(rgba(51, 51, 51, .54), rgba(51, 51, 51, .54)), url('../images/katherine-lenhart-440548.jpg');
    background-size: cover;
    height: 100vh;
}

.landing__header {
    padding: 2.5em 0 0.5em;
    text-align: center;
    color: white;
    letter-spacing: 2.5px;
    font-size: 36px;
}

.landing__tagline {
    text-align: center;
    font-style: italic;
    color: white;
}

.landing__form__container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__input {
    outline: none;
    border: 0;
    background: none;
    border-bottom: 0.03em solid rgba(255, 255, 255, 0.99);
    width: 205px;
    padding-bottom: 1em;
    margin: 2em 0;
    color: white;
    font-size: 14px;
}

.landing__input::placeholder {
    color: white;
    font-size: 14px;
}

.landing__input--errortext {
    color: white;
    font-size: 10px;
}

.landing__form__btn {
    width: 205px;
    height: 49px;
    font-size: 18px;
    border-radius: 5px;
    background: rgba(225, 225, 225, 0.15);
    text-transform: uppercase;
    border: 0.03em solid rgba(224, 224, 224, 0.3);
    color: white;
    margin-top: 1em;
    letter-spacing: 1px;
}

.landing__form__togglelink {
    text-align: center;
    display: block;
    font-size: 13px;
    color: white;
    text-decoration: none;
}


/***********************************************
  $ Mobile Navbar
***********************************************/

.navbar {
    border-top: 0.03em solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    font-size: 10px;
}

.navbar__icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #8A8A8F;
    margin-bottom: 3px;
}

.navbar__link {
    text-decoration: none;
    font-weight: 400;
    color: #8A8A8F;
    /* border: 5px solid red; */
}

/***********************************************
  $ Mobile Banner
***********************************************/

.mobileBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100vw;
    background: #D6472C;
    position: relative;
    margin-bottom: 15px;
}

.mobileBanner__title {
    color: white;
    font-weight: normal;
    font-size: 13px;
}

.mobileBanner__backicon {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 14px;
    left: 15px;
}

/***********************************************
  $ Recipe List
***********************************************/

.recipeList__allrecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.recipeList__container {
    display: flex;
    flex-direction: column;
    width: 170px;
}

.recipeList__link {
    width: 170px;
}

.recipeList__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}

/* .recipeList__img:nth-child(even) {
    margin-right: 15px;
    margin-left: 2.5px;
    margin-bottom: 2.5px;
} */

.recipeList__recipeTitle {
    margin: 0 0 15px 15px;
    font-size: 12px;
    display: none;
}