* {
  padding: 0;
  margin: 0;
}

.landing {
  display: flex;
  justify-content: space-between;
}

.landing__pepprImage {
  width: 70vw;
  height: 100vh;
  background-position: left center;
  opacity: 70%;
}

.signin__container {
  border: 1px solid gray;
  display: flex;
  align-items: center;
}

.signin__form {
  font-family: Lato, sans-serif;
  color: #333333;
  border: 1px solid red;
  width: 35vw;
}

.signin__heading {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 2px;
}

.signin__tagline {
  font-style: italic;
  font-weight: 200;
  font-size: 11px;
  margin-bottom: 50px;
}

.signin__input {
  font-family: Lato, sans-serif;
  font-size: 16px;
  outline: none;
  border: 0;
  border-bottom: 0.01em solid rgba(224, 224, 224, 0.95);
  padding-bottom: 15px;
}

.signin__input::placeholder {
  color: #333333;
}

.signin__btn {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: white;
  border: none;
  text-transform: uppercase;
  background: #D6472C;
  padding: 10px 30px;
}

.signin__signupRedirectLink {
  font-size: 12px;
}